 @model MVC8amMindblowingbtch.Models.StudentModel

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Fees</th>
        <th>Course</th>
    </tr>
    <tr>
        <td>@Model.StudId</td>
        <td>@Model.StudName</td>
        <td>@Model.StudFees</td>
        <td>@Model.StudCourse</td>
    </tr>
</table>