
@{
    ViewBag.Title = "AboutUs";
}

<h2>AboutUs</h2>

@section MySection{
    <p>
        About us page is displayed
    </p>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    }