
@{
    ViewBag.Title = "ContactUs";

}

<h2>ContactUs</h2>

@section MySection{
    <p>
        Contact us page is displayed
    </p>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/modernizr-2.6.2.js"></script>

}