
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_MyLayout.cshtml";
    //Layout = null;
}

<h2>Default controller Index page </h2>

<ul>
    <li>Diwali</li>
    <li>sankranti</li>
    <li>Daseera</li>
</ul>

 