@using MVC8amMindblowingbtch.Models
@model StudentModel
@{
    ViewBag.Title = "getStudentVModel";
}

<h2>Student Details</h2>

@Model.StudId<br />
@Model.StudName<br />
@Model.StudCourse<br />
@Model.StudFees<br />